.profile-page {
  font-weight: bold;
  text-align: center;
  background-color: #ffffff99;
  width: 80%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-color: #c92c20;
  border-radius: 10px;
}

.user-tag {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.user-email, .user-name {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.sign-in-form {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  text-align: center;
  background-color: #ffffff;
  width: 80%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-color: #c92c20;
  border-radius: 10px;
}

.register-form {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  text-align: center;
  background-color: #ffffff;
  width: 80%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-color: #c92c20;
  border-radius: 10px;
}

.email-input, .name-input, .password-input {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-left: 3%;
  padding-right: 3%;
  text-align: left;
}

.sign-up-button {
  background-color: yellow;
}

.sign-out-button {
  background-color: yellow;
}
