.weather-current {
  display: flex;
  margin-top: 1%;
  margin-right: 3%;
}

.weather-item {
  margin: 0 auto;
  padding: 0 1.0em;
  font-size: 1.5em;
}

.weather-page-title {
  text-align: center;
  margin-top: 1%;
  color: #c92c20;
}